{
  "presets": [
    [
      "@babel/preset-env",
      {
          "targets": {
              "node": 10,
              "browsers": [ ">0.25%", "not op_mini all" ]
          },
          "modules": false,
          "debug": true
      }
  ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "comments" : false
}