{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "plugins": [],
    "env": {
        "amd": false,
        "browser": true,
        "jquery": false,
        "node": true,
        "es6": true,
        "worker": false
    },
    "rules": {
        "curly": 1,
        "eqeqeq": 2,
        "comma-dangle": 1,
        "quotes": [ 2, "double" ],
        "no-console": 1,
        "no-debugger": 1,
        "no-extra-semi": 1,
        "no-extra-parens": 1,
        "no-irregular-whitespace": 1,
        "no-undef": 2,
        "no-unused-vars": 2,
        "no-var": 1,
        "semi": 1,
        "semi-spacing": 1,
        "valid-jsdoc": [
            2,
            { "requireReturn": false }
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "max-len": [
            1,
            120
        ],
        "no-multiple-empty-lines": [
            1,
            {
                "max": 1
            }
        ]
    }
}